body{ background: #1a1a1a; color: #eee;}
header{ background: #232323 !important;}
header .header-logo:after{ background: #555;}
#menu ul.top-menu li a{ color: #ddd;}
.movies-list-wrap .ml-title .nav-tabs li a{ color: #ddd;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover, .nav > li > a:hover, .nav > li > a:focus{ background-color: #303030 !important; border-radius: 3px;}
#menu .sub-container{ background: #2a2a2a !important; border-left: none; border-bottom: none; border-right: none;}
#menu .sub-container ul.sub-menu li a{ color: #aaa !important;}
#bread .breadcrumb a{ color: #777;}
#search input.search-input{ border: none; background: #444; box-shadow: none;}
#search input.search-input:focus{ background: #555;}
.search-suggest{ background: #333;}
.search-suggest ul li{ border-bottom: 1px solid #444;}
.search-suggest ul li:hover{ background: rgba(255,255,255,0.05);}
.search-suggest ul li .ss-info a.ss-title{ color: #eee; font-weight: normal;}
#mv-info .mvi-content{ background: rgba(255,255,255,0.05);}
#mv-keywords{ background: #2d2d2d;}
#mv-info .mvi-content .mvic-desc{ border-right: none;}
.modal-content{ background: #333;}
.modal-footer{ border-top: none; background: rgba(255,255,255,0.05);}
.close{ color: #fff !important; text-shadow: none; opacity: 1;}
.ui-cluetip-content{ color: #222;}
.mobile-btn{ background: #252525; border-bottom: none;}
.mobile-menu, .mobile-search{ background: #444; color: #eee;}
#commentfb{ background: #252525;}
.popover-content{ color: #333;}
#list-eps{ background: #2D2D2D;}
#list-eps .le-server{ border-bottom: 1px solid #3f3f3f;}
.filter-toggle{ background: #252525;}
#filter{ background: #333;}
#filter ul{ background: rgba(255,255,255,0.05); border: none;}
#filter ul.fc-main-list li a{ background: #444; color: #eee;}
#filter .filter-btn{ border-top: none; background: #3a3a3a;}
.pagination > li > a, .pagination > li > span{ background: #252525; color: #ddd;}
#list-eps .le-server .les-content .btn-eps{ background: #777; border-bottom-color: #666; color: #eee;}
.infopage{ background: #252525;}
.infopage .infopage-head{ background: #333; border-bottom: none;}
.box{ background: #222;}
.news-list-item{ border-bottom: 1px solid #333;}
.news-list-item:hover{ background: #3a3a3a;}
.news-list-item .info h2 a{ color: #eee;}
.news-list-item .info p{ color: #aaa;}
.news-view-content{ border-bottom: 2px solid #555;}
#comment{ border-top: none !important; background: #ccc;}
#comment h3.title{ color: #333;}
.movies-embed .me-li{ border-bottom-color: #444;}
footer{ background: #222;}
.report-list{ border-color: #555;}
.report-list .rl-block{ border-color: #555;}
.report-textarea textarea{ background: rgba(0,0,0,0.2); border-color: #555; color: #fff;}
.logged .btn-logged i{ color: #ddd;}
.logged .avatar .fa{ color: #ddd;}
.logged .dropdown-menu{ background: #333;}
.logged .logged-user .dropdown-menu > li > a:hover{ background: #444;}
.logged .logged-feed .dropdown-menu > li{ border-color: #555;}
.logged .logged-feed .dropdown-menu > li a{ color: #eee;}
.logged .logged-feed .dropdown-menu > li a:hover{ background: #444;}
.logged .logged-feed .dropdown-menu > li.more a{ background: #666; color: #eee;}
.logged .logged-user .dropdown-menu > li > a{ color: #ddd;}
.logged .logged-user .dropdown-menu > li{ border-color: #555;}
.profiles-wrap{ background: #222; color: #ddd;}
.profiles-wrap .pp-main{ background: #333;}
.sidebar .sidebar-menu ul li a{ color: #aaa;}
.sidebar .sidebar-menu ul li.active{ background: #333;}
.sidebar .sidebar-menu ul li.active a{ color: #eee;}
.user-content .uct-info .block{ border-bottom: 1px solid #555;}
.profiles-wrap .pp-main .ppm-head ul.nav-tabs li.active a, .profiles-wrap .pp-main .ppm-head ul.nav-tabs li a:hover{ color: #fff; background: #666 !important;}
.noti-content ul li a{ color: #ddd;}
.noti-content ul li{ border-bottom: 1px solid #444;}
.offer-content ul li{ border-color: #444;}
#commentfb{ background: #ddd;}
.letter-movies-lits .table-striped{ background: #222;}
.letter-movies-lits .table-striped > tbody > tr > td{ border-color: #333;}
.letter-movies-lits .table-striped > tbody > tr:nth-of-type(2n+1){ background: #292929;}
.letter-movies-lits a{ color: #ddd;}
.movies-letter a.btn-letter{ background: #333; color: #fff;}
.mgbox a{ color: #fff !important;}
.social-home{ background: #333;}
#search input.search-input{ color: #fff;}
.faq-div ul li{ background: none;}
.faq-div a h3{ color: #ddd;}
.faq-div ul li{ border-bottom: 1px solid #333;}
.tips-content, .cookie-result{ background: #333 !important;}
.tips-tabs ul li a:hover, .tips-tabs ul li a:focus{ background: rgba(255,255,255,0.9) !important;}
.tips-tabs ul li.active a:hover, .tips-tabs ul li.active a:focus{ background: #ebf8e2 !important;}
#schedule-eps .se-list li{ background: #333; border-bottom: 1px solid #555;}
#schedule-eps .se-list li:hover{ background: #444;}
@media screen and (max-width: 991px){
	.movies-list-wrap .ml-title span{ color: #eee; height: 38px; line-height: 38px;}
	#menu .sub-container{ background: none !important;}
	header .header-logo{ margin-left: -95px;}
	.mv-rating{ background: #353535; color: #ddd;}
	.mv-rating .btn{ color: #ddd;}
}
@media screen and (max-width: 991px){
	#search{ background: #222;}
}
@media screen and (max-width: 520px){
	#logo{ width: 103px; height: 27px;}
	header .header-logo{ margin-left: 0;}
}