<!DOCTYPE html>
<html>

<head>
  <title>Watch Movies Online Free on Website</title>
  <!-- meta -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="robots" content="index,follow">
  <meta http-equiv="content-language" content="en">
  <meta name="description" content="Watch HD Movies Online For Free and Download the latest movies without Registration at Website">
  <meta name="keywords" content="watch hd movies, watch HD films, Hot new movies">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <!-- css -->
  <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='css/slide.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='css/main-dark.css')}}" rel="stylesheet">
  <!-- js -->
  <script type="text/javascript" src="{{url_for('static', filename='js/jquery-1.9.1.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/jquery.lazyload.min.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/main.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>

  <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.png')}}" type="image/x-icon">
  {% block css %}{% endblock %}
</head>

<body>

  {% include "navigation.html" %}

  <!-- alert -->
  {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
  <div class="alert alert-{{ category }}">
    {{ message }}
  </div>
  {% endfor %} {% endif %} {% endwith %}

  <!-- page template -->
  {% block content %}{% endblock %}

  <!-- error -->
  {% if error %}
  <div class="alert alert-warning"><strong>Error:</strong> {{ error }}</div>
  {% endif %}

  {% include "_footer.html" %} {% include "modal.html" %}
  <!-- scripts -->

  {% block js %}{% endblock %}

</body>

</html>

<script>
  $(".mobile-menu").click(function () {
    $("#menu").toggle();
  });
  $(".mobile-search").click(function () {
    $("#search").toggle();
  });
  /*
    function a() {
        $(this).find(".sub-container").css("display", "block")
    }

    function b() {
        $(this).find(".sub-container").css("display", "none")
    }

    $(function () {
        function a() {
            var a = $(this),
                b = a.find(".modal-dialog");
            a.css("display", "block"), b.css("margin-top", Math.max(0, ($(window).height() - b.height()) / 2))
        }
        $(".modal").on("show.bs.modal", a), $(window).on("resize", function () {
            $(".modal:visible").each(a)
        })
    });
    */
</script>