<!--footer-->
<footer>
  <div id="footer">
    <div class="container">
      <div class="row">
        <!--
        <div class="col-lg-12 footer-one">
          <div class="footer-link">
            <h3 class="footer-link-head">Website</h3>

            <p><a title="Movies" href="/movie/filter">Movies</a></p>

            <p><a title="Top IMDb" href="/movie/topimdb">Top IMDb</a></p>

            <p><a title="DMCA" href="/site/dmca">DMCA</a></p>

            <p><a title="FAQ" href="/site/faq">FAQ</a></p>

            <p><a title="Advertising" href="/site/promote">Advertising</a></p>
          </div>
          <div class="footer-link">
            <h3 class="footer-link-head">Movies</h3>

            <p><a title="Action" href="/genre/action/">Action</a></p>

            <p><a title="History" href="/genre/history/">History</a></p>

            <p><a title="Thriller" href="/genre/thriller/">Thriller</a></p>

            <p><a title="Sci-Fi" href="/genre/sci-fi/">Sci-Fi</a></p>
          </div>
          <div class="footer-link end">
            <h3 class="footer-link-head">TV-Series</h3>

            <p><a title="United States" href="/movie/filter/series">United States</a></p>

            <p><a title="Korea" href="/movie/filter/series">Korea</a></p>

            <p><a title="China" href="/movie/filter/series">China</a></p>

            <p><a title="Taiwan" href="/movie/filter/series">Taiwan</a></p>
          </div>
        </div>
        -->
        <div class="col-lg-4 footer-copyright">
          <p><img id="logo-footer" border="0" src="{{url_for('static', filename='img/logo-light.png')}}" class="mv-ft-logo"></p>

          <p>Copyright © website.com - All Rights Reserved</p>

          <small class="grey">Disclaimer: This site does not store any files on its server. All contents are provided by non-affiliated third
            parties.</small>
        </div>
      </div>
      <!--
      <div class="footer-tags">
        <a title="Watch full movies online">Watch full movies online</a>
        <a title="Stream movies 2k online">Stream movies 2k online</a>
        <a title="Free films online">Free films online</a>
        <a title="Free online movies full">Free online movies full</a>
      </div>
      -->
    </div>
  </div>

</footer>
<!--/footer-->