<!--header-->
<header style="position: fixed; top: 0px; background-color: rgb(255, 255, 255);">
  <div class="container">
    <div class="header-logo">

      <a title="Watch Your Favorite Movies Online" href="/" id="logo"></a>

    </div>

    <div class="mobile-menu"><i class="fa fa-reorder"></i></div>  
    <div class="mobile-search"><i class="fa fa-search"></i></div>
    <div id="menu">
      <ul class="top-menu">
        <li class="active">
          <a href="/" title="Home">HOME</a>
        </li>
        <li class="">
          <a href="/#" class="genre" title="Genre">GENRE</a>

          <div class="sub-container" style="display: none">
            <ul class="sub-menu">
              <li>
                <a href="/filter/genre/action/1">Action</a>
              </li>
              <li>
                <a href="/filter/genre/adventure/1">Adventure</a>
              </li>
              <li>
                <a href="/filter/genre/animation/1">Animation</a>
              </li>
              <li>
                <a href="/filter/genre/biography/1">Biography</a>
              </li>
              <li>
                <a href="/filter/genre/comedy/1">Comedy</a>
              </li>
              <li>
                <a href="/filter/genre/costume/1">Costume</a>
              </li>
              <li>
                <a href="/filter/genre/crime/1">Crime</a>
              </li>
              <li>
                <a href="/filter/genre/documentary/1">Documentary</a>
              </li>
              <li>
                <a href="/filter/genre/drama/1">Drama</a>
              </li>
              <li>
                <a href="/filter/genre/family/1">Family</a>
              </li>
              <li>
                <a href="/filter/genre/fantasy/1">Fantasy</a>
              </li>
              <li>
                <a href="/filter/genre/history/1">History</a>
              </li>
              <li>
                <a href="/filter/genre/horror/1">Horror</a>
              </li>
              <li>
                <a href="/filter/genre/kungfu/1">Kungfu</a>
              </li>
              <li>
                <a href="/filter/genre/musical/1">Musical</a>
              </li>
              <li>
                <a href="/filter/genre/mystery/1">Mystery</a>
              </li>
              <li>
                <a href="/filter/genre/mythological/1">Mythological</a>
              </li>
              <li>
                <a href="/filter/genre/psychological/1">Psychological</a>
              </li>
              <li>
                <a href="/filter/genre/romance/1">Romance</a>
              </li>
              <li>
                <a href="/filter/genre/sci-fi/1">Sci-Fi</a>
              </li>
              <li>
                <a href="/filter/genre/sitcom/1">Sitcom</a>
              </li>
              <li>
                <a href="/filter/genre/sport/1">Sport</a>
              </li>
              <li>
                <a href="/filter/genre/thriller/1">Thriller</a>
              </li>
              <li>
                <a href="/filter/genre/tv-show/1">TV Show</a>
              </li>
              <li>
                <a href="/filter/genre/war/1">War</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="">
          <a href="/#" title="Country">COUNTRY</a>

          <div class="sub-container" style="display: none">
            <ul class="sub-menu">
              <li>
                <a href="/filter/country/Asia/1">Asia</a>
              </li>
              <li>
                <a href="/filter/country/China/1">China</a>
              </li>
              <li>
                <a href="/filter/country/Euro/1">Euro</a>
              </li>
              <li>
                <a href="/filter/country/France/1">France</a>
              </li>
              <li>
                <a href="/filter/country/HongKong/1">HongKong</a>
              </li>
              <li>
                <a href="/filter/country/India/1">India</a>
              </li>
              <li>
                <a href="/filter/country/Japan/1">Japan</a>
              </li>
              <li>
                <a href="/filter/country/Korea/1">Korea</a>
              </li>
              <li>
                <a href="/filter/country/Taiwan/1">Taiwan</a>
              </li>
              <li>
                <a href="/filter/country/Thailand/1">Thailand</a>
              </li>
              <li>
                <a href="/filter/country/United Kingdom/1">United Kingdom</a>
              </li>
              <li>
                <a href="/filter/country/United States/1">United States</a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a href="/filter/type/series/1" title="TV - Series">TV - SERIES</a>
        </li>
        <li class="">
          <a href="#" title="Top IMDb">TOP IMDb</a>
        </li>
        <li class="">
          <a href="#" title="A-Z List">A - Z LIST</a>
        </li>
      </ul>
    </div>


    <div id="top-user">
      {% if current_user.is_authenticated %}
      <div class="top-user-content logged">
        <div class="logged-user">
          <a href="/#" class="avatar user-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="{{url_for('static', filename='img/default_avatar.jpg')}}">
            <i class="fa fa-chevron-down"></i>
          </a>
          <ul class="dropdown-menu">
            {% if current_user.confirmed %}
            <li><a href="{{ url_for('user.profile') }}"><i class="fa fa-user mr5"></i>Profile</a></li>
            {% else %}
            <li><a href="{{ url_for('user.unconfirmed') }}"><i class="fa fa-user mr5"></i>Confirm</a></li>
            {% endif %}
            <li><a href="{{ url_for('user.logout') }}"><i class="fa fa-power-off mr5"></i>Logout</a></li>
          </ul>
        </div>
      </div>
      {% elif not current_user.is_authenticated %}
      <div class="top-user-content guest">
        <a href="#" class="btn btn-successful btn-login" title="Login" data-target="#pop-login" data-toggle="modal">LOGIN</a>
      </div>
      {% endif %}
    </div>
    <div id="search">
      <div class="search-content">
        <input autofucus maxlength="100" autocomplete="off" name="keyword" type="text" class="form-control search-input" placeholder="Search...">
        <a onclick="searchMovie()" class="search-submit" href="javascript:void(0)" title="Search"><i class="fa fa-search"></i></a>

        <div class="search-suggest" style="display: none;"></div>
      </div>
    </div>
  </div>
</header>
<!--/header-->