<!-- slider -->
<div id="slider" class="swiper-container-horizontal">
    <div class="swiper-wrapper">

        <div class="swiper-slide" style="background-image: url(http://2.bp.blogspot.com/-RkQ3BeQ2qI0/WRaIdxXSKwI/AAAAAAAAcPs/y4TevRltbUQYQzoFiXOFoCbuLX8GTLtPwCK4B/s1600/banner.jpg);">
            <a href="/film/title/" class="slide-link" title="Title"></a>
            <span class="slide-caption">
                <h2>Title</h2>
                <p class="sc-desc">Description ...</p>
                <div class="slide-caption-info">
                    <div class="block"><strong>Genre:</strong>
                        <a href="/genre/genre/" title="Drama">genre</a>
                    </div>
                    <div class="block"><strong>Duration:</strong> 00 min</div>
                    <div class="block"><strong>Release:</strong> 2017</div>
                    <div class="block"><strong>IMDb:</strong> 7.8</div>
                </div>
            </span>
        </div>

    </div>
    <div class="swiper-pagination swiper-pagination-clickable"></div>
</div>

<script type="text/javascript" src="{{url_for('static', filename='js/slide.min.js')}}"></script>
<script>
    var swiper = new Swiper('#slider', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        loop: true,
        autoplay: 3000
    });
</script>
<!--/slider -->