{% extends "_base.html" %} {% block content %}


<div class="top-content">
  {% include "slider.html" %}
</div>


<div class="main-content">
  <div class="movies-list-wrap mlw-topview mt20">
    <!--
    <div class="ml-title">
      <span class="pull-left">Suggestion <i class="fa fa-chevron-right ml10"></i></span>
      <a href="/movie/filter/all" class="pull-right cat-more">View more »</a>
      <ul role="tablist" class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" role="tab" href="/#movie-featured" aria-expanded="false">Featured</a></li>
        <li><a onclick="ajaxContentBox(&#39;topview-today&#39;)" data-toggle="tab" role="tab" href="/#topview-today" aria-expanded="false">Top viewed
today</a></li>
        <li><a onclick="ajaxContentBox(&#39;top-favorite&#39;)" data-toggle="tab" role="tab" href="/#top-favorite" aria-expanded="false">Most Favorite</a>
        </li>
        <li><a onclick="ajaxContentBox(&#39;top-rating&#39;)" data-toggle="tab" role="tab" href="/#top-rating" aria-expanded="false">Top Rating</a></li>
        <li><a onclick="ajaxContentBox(&#39;top-imdb&#39;)" data-toggle="tab" role="tab" href="/#top-imdb" aria-expanded="false">Top IMDb</a></li>
      </ul>
    </div>
    -->
    <div class="tab-content">
      {% with posts=film_index, page_index=1, page_total=page_total%}
        {% include "pagination/pagination.html" %}
      {% endwith %}
    </div>
  </div>
</div>


{% endblock %}