{% block content %}

<div id="mv-info">
    <a href="/film/{{ film_data.url_slug }}/watch" title="{{ film_data.title }}" class="thumb mvi-cover" style="background-image: url(https://docs.google.com/uc?id={{film_data.img_background }})"></a>

    <div class="mvi-content">
        <!--
        <div class="mvic-btn">
            <div class="mv-rating">
                <div id="movie-mark" class="btn btn-danger">8.0</div>
                <label id="movie-rating">Rating (60)</label>
                <div class="star-rating rating-sm rating-active">
                    <div class="rating-container rating-fa">
                        <div class="rating-stars" style="width: 0%;"></div><input name="rating" class="rating form-control hide" value="0" min="0" max="5" step="0.5"></div>
                    <div class="caption"><span class="label label-default">Not Rated</span></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>

        </div>
        -->
        <div class="thumb mvic-thumb" style="background-image: url(https://docs.google.com/thumbnail?id={{ film_data.img_poster or film_data.img_poster_alt }});"></div>
        <div class="mvic-desc">
            <h3>{{ film_data.title }}</h3>
            <div class="block-trailer">
                <a class="btn btn-primary" href="https://youtube.com/watch?v={{ film_data.trailer_youtube }}" target="_blank"><i class="fa fa-video-camera mr5"></i>Trailer</a>
            </div>
            {{ '(Season ' + film_data.season + ')' }}
            <div class="desc">{{ film_data.summary }}</div>
            <div class="mvic-info">
                <div class="mvici-left">
                    Genre: {% for item in film_data.children if item.table_id == 10 %}{{ item.table_data }}{{ ", " if not loop.last }}{% endfor %}<br>
                    Actor: {% for item in film_data.children if item.table_id == 13 %}{{ item.table_data }}{{ ", " if not loop.last }}{% endfor %}<br>
                    Director: {% for item in film_data.children if item.table_id == 11 %}{{ item.table_data }}{{ ", " if not loop.last }}{% endfor %}<br>
                    Writer: {% for item in film_data.children if item.table_id == 12 %}{{ item.table_data }}{{ ", " if not loop.last }}{% endfor %}<br>
                    Country: {% for item in film_data.children if item.table_id == 8 %}{{ item.table_data }}{{ ", " if not loop.last }}{% endfor %}<br>
                    Language: {% for item in film_data.children if item.table_id == 7 %}{{ item.table_data }}{{ ", " if not loop.last }}{% endfor %}<br>
                    Age Rating: {% for item in film_data.children if item.table_id == 9 %}{{ item.table_data }}{{ ", " if not loop.last }}{% endfor %}<br>
                    <p><strong>Production:</strong><a target="_blank" href="/filter/production/{{ 'film_data.production.strip()' }}/1">{{ film_data.production }}</a></p>
                </div>
                <div class="mvici-right">
                    {% if film_data.duration %}<p><strong>Duration:</strong> {{ '{} min'.format(film_data.duration) }}</p>{% endif %}
                    <p><strong>Quality:</strong> <span class="quality">{{ 'film_data.quality' }}</span></p>
                    {% if film_data.released %}<p><strong>Released:</strong> {{ film_data.released.strftime('%Y') }}</p>{% endif %}
                    {% if film_data.age_rating %}<p><strong>Age rating:</strong> {{ film_data.age_rating }}</p>{% endif %}
                    
                    {% if film_data.imdb_rating and film_data.imdb_votes %}<p><strong>IMDb:</strong> {{ film_data.imdb_rating }} ({{ film_data.imdb_votes }} votes)</p>{% endif %}
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

{% if film_data.tags %}
<!-- tags -->
<div id="mv-keywords">
    <strong class="mr10">Tags:</strong> {% for tag in film_data.tags.split(',') %}
    <a target="_blank" href="/tag/{{ tag }}">
        <h5>{{ tag }}</h5>
    </a>{{ "," if not loop.last }} {% endfor %}
</div>
<!-- /tags -->
{% endif %} {% endblock %}