{% extends "_base.html" %} {% block content %}

<div class="pad"></div>
<div class="main-content main-detail">

    <div class="main-content main-category">
        <div id="bread">
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                {% for item in film_data.children if item.table_id == 2 %}
                {% if item.table_data %}
                <li><a href="/filter/type/{{ item.table_data }}/1">{{ item.table_data.capitalize() }}</a></li>
                {% else %}
                <li><a href="/filter/type/movie/1">Movie</a></li>
                {% endif %}
                {% endfor %}
                <li class="active">{{ film_data.title }}</li>
            </ol>
        </div>
        {% with film_data=film_data %} {% include('main/mv_info.html') %} {% endwith %}
    </div>

    <!--related-->
    <div class="movies-list-wrap mlw-related">
        <div class="ml-title ml-title-page">
            <span>You May Also Like</span>
        </div>
        <div class="movies-list movies-list-full">
            <div class="ml-item">
                <a href="#" class="ml-mask jt">
                    <span class="mli-quality">HD</span>
                    <span class="mli-info"><h2>Film</h2></span>
                </a>
            </div>
        </div>
    </div>
    <!--/related-->
</div>

{% endblock %}