{% extends "_base.html" %} {% block content %}

<div class="main-content">
  <div class="tab-content">
    {% with posts=posts %} {% include "pagination/pagination.html" %} {% endwith %}
  </div>
</div>

{% endblock %}