<div class="clearfix"></div>
<div id="pagination">
  <nav>
    <ul class="pagination">
      {% if page_index > 3 %}
      <li><a href="/filter/{{page_type}}/{{parameter}}/1" data-ci-pagination-page="1" rel="start"><< First</a></li>
      {% endif %} {% if page_index > 1 %}
      <li class="prev"><a href="/filter/{{page_type}}/{{parameter}}/{{page_index-1}}" data-ci-pagination-page="{{page_index-1}}" rel="prev">← Previous</a></li>
      {% endif %} {% if page_index > 2 %}
      <li><a href="/filter/{{page_type}}/{{parameter}}/{{page_index-2}}" data-ci-pagination-page="{{page_index-2}}">{{page_index-2}}</a></li>
      {% endif %} {% if page_index > 1 %}
      <li><a href="/filter/{{page_type}}/{{parameter}}/{{page_index-1}}" data-ci-pagination-page="{{page_index-1}}">{{page_index-1}}</a></li>
      {% endif %}
      <li class="active"><a href="#">{{page_index}}</a></li>
      {% if page_total - page_index > 0 %}
      <li><a href="/filter/{{page_type}}/{{parameter}}/{{page_index+1}}" data-ci-pagination-page="{{page_index+1}}">{{page_index+1}}</a></li>
      {% endif %} {% if page_total - page_index > 1 %}
      <li><a href="/filter/{{page_type}}/{{parameter}}/{{page_index+2}}" data-ci-pagination-page="{{page_index+2}}">{{page_index+2}}</a></li>
      {% endif %} {% if page_total - page_index > 0 %}
      <li class="next"><a href="/filter/{{page_type}}/{{parameter}}/{{page_index+1}}" data-ci-pagination-page="{{page_index+1}}" rel="next">Next →</a></li>
      {% endif %} {% if page_total - page_index > 2 %}
      <li><a href="/filter/{{page_type}}/{{parameter}}/{{page_total}}" data-ci-pagination-page="{{page_total}}">Last >></a></li>
      {% endif %}
    </ul>
  </nav>
</div>