{% block content %}

{% with page_index=page_index, page_total=page_total, page_type=page_type, parameter=parameter %}
  {% include "pagination/navigation.html" %}
{% endwith %}

{% for post in posts %}
<div id="movie-featured" class="movies-list tab-pane in fade active">
  <div class="ml-item">
    <a href="/film/{{post.url_slug}}/" class="ml-mask jt" title="{{post.title or post.title_old}}">
      <span class="mli-quality">{{post.quality}}</span>
      <img class="lazy thumb mli-thumb" src="https://docs.google.com/thumbnail?id={{(post.img_poster or post.img_poster_alt) or '1.bp.blogspot.com/-ctVhuyfqJO0/Wd2AiqovlWI/AAAAAAAAc00/vJVG9Q3pP-AOa1WJrpB1GSLc-shzcDOowCK4BGAYYCw/s1600/placeholder_image_logo.png'}}">
      <span class="mli-info"><h2>{{post.title or post.title_old}}</h2></span>
    </a>
  </div>
</div>
{% endfor %}

{% with page_index=page_index, page_total=page_total, page_type=page_type, parameter=parameter %}
  {% include "pagination/navigation.html" %}
{% endwith %}

{% endblock %}