<link rel="stylesheet" href="{{url_for('static', filename='css/font/Montserrat.css')}}">
<div style="text-align: center;">

  <div style="display: block; font-family: 'Montserrat', sans-serif; font-weight: bold; color: #57607c; font-size: 25px; margin: 20px 0px 18px;">
    Account activation request
  </div>

  <div style="display: block; font-family: 'Montserrat', sans-serif; line-height: 25px; margin-bottom: 10px;">
    Click the following link to activate your account:
  </div>

  <a href="{{ confirm_url }}" target="_blank" style="background-color: #ebf2fa; color: #57607c; height: 30px; line-height: 30px; text-decoration: none; cursor: pointer; font-family: 'Montserrat', sans-serif; font-weight: bold; padding-left: 10px; padding-right: 10px; border-radius: 5px; font-size: 17px;">
    Activate account
  </a>

</div>
