{% extends "_base.html" %}
{% block content %}

<form role="form" method="post" action="">
  {{ form.csrf_token }}
	<div class="form text-center">

		<div class="bottom-10px">
      {{ form.email(placeholder="email",class="siimple-input center") }}
        {% if form.email.errors %}
					<label class="alert alert-warning center form-error top-10px">
          {% for error in form.email.errors %}
            {{ error }}
          {% endfor %}
					</label>
        {% endif %}
		</div>

		<div class="bottom-10px">
		{{ form.password(placeholder="password",class="siimple-input center") }}
			{% if form.password.errors %}
				<label class="alert alert-warning center form-error top-10px">
				{% for error in form.password.errors %}
					{{ error }}
				{% endfor %}
				</label>
			{% endif %}
		</div>

		<div class="bottom-10px">
		{{ form.confirm(placeholder="confirm",class="siimple-input center") }}
			{% if form.confirm.errors %}
				<label class="alert alert-warning center form-error top-10px">
				{% for error in form.confirm.errors %}
					{{ error }}
				{% endfor %}
				</label>
			{% endif %}
		</div>

    <input type="submit" value="Register" class="siimple-btn siimple-btn--grey center bottom-10px form-button">

	</div>
</form>

{% endblock %}
