<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
<div style="text-align: center;">

  <div style="display: block; font-family: 'Montserrat', sans-serif; font-weight: bold; color: #57607c; font-size: 25px; margin: 20px 0px 18px;">
    Password reset request
  </div>

  <div style="display: block; font-family: 'Montserrat', sans-serif; line-height: 25px; margin-bottom: 10px;">
    Click the following link to reset your password:
  </div>

  <a href="{{ reset_url }}" target="_blank" style="background-color: #ebf2fa; color: #57607c; height: 30px; line-height: 30px; text-decoration: none; cursor: pointer; font-family: 'Montserrat', sans-serif; font-weight: bold; padding-left: 10px; padding-right: 10px; border-radius: 5px; font-size: 17px;">
    Reset password
  </a>

</div>
