{% extends "_base.html" %}

{% block content %}

<div class="siimple-p center">
  Please check your email (and spam folder) - you should have received an email with a confirmation link.<br />
  Didn't get the email?
  <div class="siimple-btn siimple-btn--navy center"><a href="{{ url_for('user.resend_confirmation') }}" class="color-white">Resend email</a></div>
</div>

{% endblock %}
