{% extends "_base.html" %} {% block content %}
<h1>403 Authentication Required</h1>
<img src="{{url_for('static', filename='img/e403.jpg')}}"></img>
<p><em>Return <a href="{{url_for('main.home')}}">Home</a>?</em></p>
{% endblock %}