{% extends "_base2.html" %} {% block content %}
<div id="main" class="page-404">
	<div class="container">
		<div class="not-found">
			<h1>404</h1>
			<p>Look like something wrong! The page you were looking for is not here.</p>
			<p><a class="btn btn-successful mt20" href="{{url_for('main.home')}}" title="">BACK TO HOME</a></p>
		</div>
	</div>
</div>
{% endblock %}