{% extends "_base.html" %} {% block content %}
<h1>500 Internal Server Error</h1>
<p>An error was encountered while processing your request.</p>
<img src="{{url_for('static', filename='img/e500.jpg')}}" style="max-height: 333px;"></img>
<p><em>Return <a href="{{url_for('main.home')}}">Home</a>?</em></p>
{% endblock %}